@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #e1d4c9;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.logo {
  width: 100px;
}

.header-menu {
  margin: 20px 40px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.navigation a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  text-decoration: none;
}

.navigation a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #403f3d;
  transform: scaleX(0);
  transition: transform 0.5s;
  padding-top: 4px;
}

.navigation a:hover:after {
  transform: scaleX(1);
}

.header-actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.theme-switch {
  display: flex;
  gap: 8px;
  align-items: center;
  border: solid 1px #c1b6ad;
  border-radius: 22px;
  padding: 4px;
}

.theme-switch:hover .dark {
  background: #665f55;
  transition: 0.5s;
}

.theme-switch:hover .dark svg path {
  fill: #e1d4c9;
  transition: 0.5s;
}

.light {
  background: #b0907a;
}

.light,
.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 100%;
}

.menu a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  text-decoration: none;
}

.menu a span {
  margin-right: 5px;
}

.disabled {
  pointer-events: none;
}

.disabled:after {
  display: block;
  content: "";
  border-bottom: solid 2px #403f3d;
  padding-top: 4px;
}

.footer-container {
  display: flex;
  max-width: 1360px;
  margin: 0 auto 40px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: #665f55;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  margin: 0;
}

.accent {
  color: #b0907a;
  font-style: italic;
}

.footer-offer,
.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 530px;
}

.footer-offer h2 {
  color: #e1d4c9;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  transition: 0.5s;
}

.socials-button:hover {
  background: #e1d4c9;
}

.socials-button:hover svg path {
  stroke: #403f3d;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.contacts-info h3 {
  color: #e1d4c9;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.contacts a img {
  margin-right: 5px;
}

.contacts p img {
  margin-right: 5px;
}

.adress,
.phone,
.schedule {
  text-decoration: none;
  color: #e1d4c9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.phone:after,
.adress:after {
  display: block;
  content: "";
  border-bottom: solid 2px #e1d4c9;
  transform: scaleX(0);
  transition: transform 0.5s;
  padding-top: 4px;
}

.phone:hover:after,
.adress:hover:after {
  transform: scaleX(1);
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 40px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  text-align: center;
  margin: 0;
  width: 800px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  cursor: pointer;
  transition: 0.5s;
}

.icon {
  display: flex;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #c1b6ad;
  color: #403f3d;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.tab-text {
  color: #403f3d;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.active {
  pointer-events: none;
  background: #665f55;
  border: 1px solid #665f55;
}

.active .tab-text {
  color: #e1d4c9;
}

.active .icon {
  background: #e1d4c9;
}

.tab-item:hover {
  background: #665f55;
  border: 1px solid #665f55;
}

.tab-item:hover .tab-text {
  color: #e1d4c9;
}

.tab-item:hover .icon {
  background: #e1d4c9;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.card {
  display: flex;
  height: 506px;
  width: 310px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
}

.card-image {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #c1b6ad;
  transition: 0.5s;
}

.coffee1 {
  background: no-repeat center/105% url(../../assets/img/coffee-1.png);
}

.coffee2 {
  background: no-repeat center/105% url(../../assets/img/coffee-2.png);
}

.coffee3 {
  background: no-repeat center/105% url(../../assets/img/coffee-3.png);
}

.coffee4 {
  background: no-repeat center/105% url(../../assets/img/coffee-4.png);
}

.coffee5 {
  background: no-repeat center/105% url(../../assets/img/coffee-5.png);
}

.coffee6 {
  background: no-repeat center/105% url(../../assets/img/coffee-6.png);
}

.coffee7 {
  background: no-repeat center/105% url(../../assets/img/coffee-7.png);
}

.coffee8 {
  background: no-repeat center/105% url(../../assets/img/coffee-8.png);
}

.card:hover .coffee1 {
  background: no-repeat center/100% url(../../assets/img/coffee-1.png);
}

.card:hover .coffee2 {
  background: no-repeat center/100% url(../../assets/img/coffee-2.png);
}

.card:hover .coffee3 {
  background: no-repeat center/100% url(../../assets/img/coffee-3.png);
}

.card:hover .coffee4 {
  background: no-repeat center/100% url(../../assets/img/coffee-4.png);
}

.card:hover .coffee5 {
  background: no-repeat center/100% url(../../assets/img/coffee-5.png);
}

.card:hover .coffee6 {
  background: no-repeat center/100% url(../../assets/img/coffee-6.png);
}

.card:hover .coffee7 {
  background: no-repeat center/100% url(../../assets/img/coffee-7.png);
}

.card:hover .coffee8 {
  background: no-repeat center/100% url(../../assets/img/coffee-8.png);
}

.card-info {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: auto;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  color: #403f3d;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.price {
  color: #403f3d;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}
