@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #E1D4C9;
}

body.dark {
  background: #292826;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.logo {
  width: 100px;
  height: 60px;
}

.logo-dark {
  display: none;
}

.logo.dark .logo-dark {
  display: block;
}

.logo.dark .logo-light {
  display: none;
}

.header {
  height: 60px;
  margin-bottom: 20px;
}

.header-menu {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.navigation {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.navigation a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  text-decoration: none;
}

.navigation a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #403F3D;
  transform: scaleX(0);
  transition: transform 0.5s;
  padding-top: 2px;
}

.navigation.dark a {
  color: #E1D4C9
}

.navigation.dark a:after {
  border-bottom: solid 2px #E1D4C9
}

.header-actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.theme-switch {
  display: flex;
  gap: 8px;
  align-items: center;
  border: solid 1px #C1B6AD;
  border-radius: 22px;
  padding: 4px;
}

.theme-switch.dark {
  border: solid 1px #665F55;
}

.moon.disabled {
  pointer-events: none;
  background: #B0907A;
}

.moon.disabled svg path {
  fill: #E1D4C9;
}

.sun.disabled {
  pointer-events: none;
  background: #B0907A;
}

.sun, .moon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 100%;
  transition: 0.5s;
}

.menu a {
  display: block;
  width: 73px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403F3D;
  text-decoration: none;
}

.menu a span {
  margin-right: 5px;
}

.disabled {
  pointer-events: none;
}

.disabled:after {
  display: block;
  content: "";
  border-bottom: solid 2px #403F3D;
  padding-top: 2px;
}

.menu.dark a {
  color: #E1D4C9;
}

.menu.dark.disabled:after {
  border-bottom: solid 2px #E1D4C9;
}

.cup-dark {
  display: none;
}

.menu.dark .cup-dark, .menu-button.dark .cup-dark {
  display: inline-block;
}

.menu.dark .cup-light, .menu-button.dark .cup-light {
  display: none;
}

.burger {
  display: none;
}

.offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 0 40px 40px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  text-align: center;
  margin: 0;
  max-width: 800px;
}

h1.dark {
  color: #E1D4C9;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403F3D;
  margin: 0;
}

.accent {
  color: #B0907A;
  font-style: italic;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  transition: 0.5s;
}

.tab-item.dark {
  border: 1px solid #665F55;
}

.icon {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 7px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #C1B6AD;
  color: #403F3D;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.icon.dark {
  background: #665F55;
}

.tab-text {
  color: #403F3D;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.tab-text.dark {
  color: #E1D4C9;  
}

.active {
  pointer-events: none;
  background: #665F55;
  border: 1px solid #665F55;
}

.additive.active {
  pointer-events: all;
}

.active .tab-text {
  color: #E1D4C9;
}

.active .icon {
  background: #E1D4C9;

}

.active.dark {
  background: #403F3D;
  border: 1px solid #403F3D;
}

.active.dark .icon {
  background: #292826;
  color: #E1D4C9;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 0 40px 100px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  height: 506px;
  width: 310px;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  border: 1px solid #C1B6AD;
}

.card.dark {
  border: 1px solid #665F55;
}

.card-image {
  width: 310px;
  height: 310px;
  flex-shrink: 0;
  border-radius: 40px;
  transition: 0.5s;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.05);
  transition: .5s;
}

.card-info {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  gap: auto;
  color: #403F3D;
}

.card-info.dark {
  color: #E1D4C9;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin: 0;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.price {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.card.hidden {
  display: none;
}

.load {
  display: flex;
  border: 1px solid #665F55;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  margin: 0 auto;
}

.load.hidden {
  display: none;
}
  
.load.dark {
  border: 1px solid #C1B6AD;
}
.load.dark svg path {
  stroke: #E1D4C9;
}

.footer-container {
  display: flex;
  max-width: 1360px;
  margin: 0 40px 40px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: #665F55;
}

.footer-container.dark {
  background: #403F3D;
}

.footer-offer, .contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 530px;
}

.footer-offer h2 {
  color: #E1D4C9;
}

.socials {
  display: flex;
  align-items: center;
  gap: 12px;
}

.socials-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  transition: 0.5s;
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
}

.contacts-info h3 {
  color: #E1D4C9;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  margin: 0;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.contacts a img {
  margin-right: 5px;
}

.contacts p img {
  margin-right: 5px;
}

.adress, .phone, .schedule {
  text-decoration: none;
  color: #E1D4C9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  margin: 0;
}

.phone:after, .adress:after {
  display: block;
  content: "";
  border-bottom: solid 2px #E1D4C9;
  transform: scaleX(0);
  transition: transform 0.5s;
  padding-top: 2px;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(64, 63, 61, 0.80);
  z-index: 3;
}

.overlay.show {
  display: block;
}

.modal-window.show {
  display: flex;
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fade-in {
  animation: fade-in 0.5s;
}

.modal-window {
  display: none;
  position: fixed;
  top: calc(50%);
  left: calc(50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 800px;
  width: 100%;
  padding: 16px;
  border-radius: 40px;
  background: #E1D4C9;
  z-index: 3;
}

.modal-window.dark {
  background: #403F3D;
}

.modal-img {
  display: flex;
  width: 310px;
  height: 310px;
  border-radius: 40px;
  overflow: hidden;
  flex-shrink: 0;
}

.modal-content {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #403F3D;
  font-family: "Inter", sans-serif;
}

.modal-content.dark {
  color: #E1D4C9;
}

.modal-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.modal-title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}

.modal-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.select-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.modal-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
}

.modal-tab-item {
  display: flex;
  padding: 8px 16px 8px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid #C1B6AD;
  cursor: pointer;
  transition: 0.5s;
  height: 46px;
}

.modal-tab-item.dark {
  border: 1px solid #665F55;
}

.modal-tab-item.dark .tab-text {
  color: #E1D4C9;
}

.modal-tab-item.dark .icon {
  background: #665F55;
  color: #E1D4C9;
}

.modal-tab-item.dark.active {
  background: #292826;
  border: 1px solid #292826;
}

.modal-tab-item.dark.active .icon {
  background: #403F3D;
}

.total {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.alert {
  display: flex;
  padding: 12px 0px;
  align-items: flex-start;
  gap: 8px;
  border-top: 1px solid #C1B6AD;
}

.alert.dark {
  border-top: 1px solid #665F55;
}

.info-dark {
  display: none;
}

.alert.dark .info-dark {
  display: inline-block;
}

.alert.dark .info-light {
  display: none;
}

.alert-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}

.close-button {
  display: flex;
  padding: 10px 78px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid #665F55;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  transition: 0.5s;
}

@media (max-width: 768px) {
  .navigation {
    position: absolute;
    top: 99px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
    z-index: 2;
    background: #E1D4C9;
    gap: 60px;
    display: none;
  }

  .navigation.dark {
    background: #292826;
  }

  .navigation.dark a {
    color: #E1D4C9
  }

  .navigation.open {
    right: 0%;
    display: flex;
    animation: slidein 0.5s;
  }

  .navigation.hidden {
    display: none;
    right: -100%;
    animation: slideout 0.5s;
  }

  .navigation a {
    font-size: 32px;
    line-height: 125%;
  }

  .navigation a:after {
    display: none;
  }
  
  .menu {
    position: absolute;
    top: 560px;
    z-index: 2;
    display: none;
  }

  .menu a {
    display: flex;
    gap: 12px;  
    font-size: 32px;
    line-height: 125%;
    width: 100%;
    padding: 40px calc(50vw - 67px);
  }

  .menu a:after {
    display: none;
  }

  .menu img {
    width: 40px;
    height: 40px;
  }
  
  .menu.open {
    right: -0%;
    display: flex;
    animation: slidein 0.5s;
  }

  .menu.hidden {
    display: none;
    right: -100%;
    animation: slideout 0.5s;
  }

  .disabled:after {
    display: none;
  }

  .burger {
    border: 1px solid #665F55;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    gap: 6px;
  }
  
  .burger span {
    width: 18px;
    border: 1px solid #403F3D;
    border-radius: 2px;
    height: 0;
    transition: 0.5s;
  }
      
  .burger.dark {
    border: 1px solid #C1B6AD;
  }

  .burger.dark span {
    border: 1px solid #E1D4C9;
  }

  .open .line1 {
    transform: rotate(45deg) translateY(2.5px) translateX(3px);
  }
  
  .open .line2 {
    transform: rotate(-45deg) translateY(-2.5px) translateX(3px);
  }

  .card-image img {
    transform: scale(1);
  }

  .footer-container {
    flex-direction: column;
    padding: 100px 60px;
    align-items: flex-start;  
  }

  .footer-offer h2 {
    text-align: start;
  }

  .modal-window {
    max-width: 688px;
  }
}

@media (max-width: 640px) {
  .header-menu {
    margin: 20px 16px;
  }

  h1, h2 {
    font-size: 32px;
  }
  
  .tabs {
    gap: 8px;
  }

  .footer-container {
    padding: 60px 16px;
    margin: 0 16px 40px;
    gap: 40px;
  }

  .footer-offer {
    width: 100%;
  }

  .contacts-info {
    width: 100%;
  }

  .modal-window {
    width: 342px;
  }

  .modal-img {
    display: none;
  }

  .modal-content {
    padding-left: 0;
  }
}

@media (hover: hover) {
  .navigation a:hover:after {
    transform: scaleX(1);
  }

  .moon:hover {
    background: #665F55;
    transition: 0.5s;
  }

  .moon:hover svg path {
    fill: #E1D4C9;
    transition: 0.5s;
  }

  .sun:hover {
    background: #665F55;
    transition: 0.5s;
  }

  .tab-item:hover {
    background: #665F55;
    border: 1px solid #665F55;
  }

  .tab-item:hover .tab-text {
    color: #E1D4C9;
  }

  .tab-item:hover .icon {
    background: #E1D4C9;
  }

  .tab-item.dark:hover {
    background: #403F3D;
    border: 1px solid #403F3D;
  }

  .tab-item.dark:hover .icon {
    background: #292826;
  }

  .modal-tab-item:hover {
    background: #665F55;
    border: 1px solid #665F55;
  }

  .modal-tab-item:hover .tab-text {
    color: #E1D4C9;
  }

  .modal-tab-item.dark:hover {
    background: #292826;
    border: 1px solid #292826;
  }
  
  .modal-tab-item:hover .icon {
    background: #E1D4C9;
  }

  .modal-tab-item.dark:hover .icon {
    background: #403F3D;
  }

  .card:hover .card-image img {
    transform: scale(1);
  }

  .socials-button:hover {
    background: #E1D4C9;
  }

  .socials-button:hover svg path {
    stroke: #403F3D;
  }

  .phone:hover:after, .adress:hover:after {
    transform: scaleX(1);
  }

  .close-button:hover {
    background: #665F55;
    border: 1px solid #665F55;
    color: #E1D4C9;
  }

  .close-button.dark:hover {
    background: #292826;
    border: 1px solid #292826;
  }
}

@keyframes slidein {
  0% {
    display: none;
    opacity: 0;
    right: -100%;
  }
  1% {
    display: flex;
    opacity: 1;
    right: -100%;
  }
  100% {
    display: flex;
    opacity: 1;
    right: 0%;
  }
}

@keyframes slideout {
  0% {
    display: flex;
    opacity: 1;
    right: 0%;
  }
  99% {
    display: flex;
    opacity: 1;
    right: -100%;
  }
  100% {
    display: none;
    opacity: 0;
    right: -100%;
  }
}