@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: #e1d4c9;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  margin-bottom: 100px;
}

.logo {
  width: 100px;
}

.header-menu {
  margin: 20px 40px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
}

.navigation a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  text-decoration: none;
}

.navigation a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #403f3d;
  transform: scaleX(0);
  transition: transform 0.5s;
  padding-top: 4px;
}

.navigation a:hover:after {
  transform: scaleX(1);
}

.header-actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.theme-switch {
  display: flex;
  gap: 8px;
  align-items: center;
  border: solid 1px #c1b6ad;
  border-radius: 22px;
  padding: 4px;
}

.theme-switch:hover .dark {
  background: #665f55;
  transition: 0.5s;
}

.theme-switch:hover .dark svg path {
  fill: #e1d4c9;
  transition: 0.5s;
}

.light {
  background: #b0907a;
}

.light,
.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 100%;
}

.menu a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #403f3d;
  text-decoration: none;
}

.menu a span {
  margin-right: 5px;
}

.menu a:after {
  display: block;
  content: "";
  border-bottom: solid 2px #403f3d;
  transform: scaleX(0);
  transition: transform 0.5s;
  padding-top: 4px;
}

.menu a:hover:after {
  transform: scaleX(1);
}

.hero {
  max-width: 1360px;
  padding: 100px;
  margin: 0 auto;
  border-radius: 40px;
  background: no-repeat center/100% url(../../assets/img/img-hero.png);
}

.hero-offer {
  display: flex;
  width: 530px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
  color: #e1d4c9;
  margin: 0;
}

.accent {
  color: #b0907a;
  font-style: italic;
}

.hero-offer p {
  color: #e1d4c9;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

.menu-button {
  display: flex;
  width: 200px;
  padding: 20px 78px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  background: #e1d4c9;
  color: #403f3d;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
}

.menu-button img {
  opacity: 0;
  transition: 0.5s;
}

.menu-button span {
  transform: translateX(14px);
  transition: 0.5s;
}

.menu-button:hover img {
  opacity: 1;
}

.menu-button:hover span {
  transform: translateX(0);
}

.favorite-coffee {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-bottom: 100px;
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  color: #403f3d;
  margin: 0;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slide {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  flex-direction: column;
  align-items: center;
  margin: 0 40px;
}

.card {
  display: flex;
  width: 480px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card-image {
  width: 480px;
  height: 480px;
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: #403f3d;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.coffee-name {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.coffee-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.coffee-price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.controls {
  line-height: 0;
  display: flex;
  gap: 12px;
}

.control {
  display: inline-block;
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #c1b6ad;
  content: "";
}

.active {
  background: #665f55;
}

.arrow {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #665f55;
  transition: 0.5s;
}

.arrow.left {
  transform: scaleX(-1);
}

.arrow:hover {
  background: #665f55;
}

.arrow:hover svg path {
  stroke: #e1d4c9;
}

.about {
  padding: 0 40px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-images {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
  height: 1060px;
}

.image {
  width: 660px;
  border-radius: 20px;
  transition: 0.5s;
}

.image1,
.image4 {
  height: 590px;
}

.image2,
.image3 {
  height: 430px;
}

.image1 {
  background: no-repeat center/110% url(../../assets/img/about-1.png);
}

.image1:hover {
  background: no-repeat center/100% url(../../assets/img/about-1.png);
}

.image2 {
  background: no-repeat center/110% url(../../assets/img/about-2.png);
}

.image2:hover {
  background: no-repeat center/100% url(../../assets/img/about-2.png);
}

.image3 {
  background: no-repeat center/110% url(../../assets/img/about-3.png);
}

.image3:hover {
  background: no-repeat center/100% url(../../assets/img/about-3.png);
}

.image4 {
  background: no-repeat center/110% url(../../assets/img/about-4.png);
}

.image4:hover {
  background: no-repeat center/100% url(../../assets/img/about-4.png);
}
